tqdm==4.67.1
boto3==1.42.88
pillow==12.2.0
numpy==2.2.6
matplotlib==3.9.2
scipy==1.13.1
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchvision==0.26.0+cu128
datasets==4.8.4
wandb==0.18.7
transformers==5.5.4
huggingface_hub==1.11.0
accelerate==1.8.1
safetensors==0.6.2
schedulefree>=1.4.0
tokenizers==0.22.2